# phan1_Thống kê dữ liệu

Hãy sắp xếp dữ liệu điểm DH1 theo thứ tự tăng dần

In [5]:
import pandas as pd

# Giả sử bạn đã có dataframe `df` chứa dữ liệu
# Sắp xếp DH1 theo thứ tự tăng dần
df_sorted_dh1 = df.sort_values(by="DH1", ascending=True)
print(df_sorted_dh1)

  GioiTinh  DH2  DH1 KT   KV     DT
2      Nam  6.0  6.5  A  KV1   Nùng
1       Nữ  8.0  7.0  B  KV2    Tày
4      Nam  7.0  7.5  C  KV3  Mường
0      Nam  7.5  8.5  A  KV1   Kinh
3       Nữ  9.0  9.5  B  KV2   Kinh

2. Sắp xếp dữ liệu điểm DH2 tăng dần theo nhóm giới tính

In [15]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    "GioiTinh": ["Nam", "Nữ", "Nam", "Nữ", "Nam"],
    "DH2": [7.5, 8.0, 6.0, 9.0, 7.0],
    "DH1": [8.5, 7.0, 6.5, 9.5, 7.5],
    "KT": ["A", "B", "A", "B", "C"],
    "KV": ["KV1", "KV2", "KV1", "KV2", "KV3"],
    "DT": ["Kinh", "Tày", "Nùng", "Kinh", "Mường"],
}

df = pd.DataFrame(data)

# Kiểm tra dữ liệu
print(df)

  GioiTinh  DH2  DH1 KT   KV     DT
0      Nam  7.5  8.5  A  KV1   Kinh
1       Nữ  8.0  7.0  B  KV2    Tày
2      Nam  6.0  6.5  A  KV1   Nùng
3       Nữ  9.0  9.5  B  KV2   Kinh
4      Nam  7.0  7.5  C  KV3  Mường

3. Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1, 
Q2 và Q3 của DH1 theo KT

In [7]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    "KT": ["A", "B", "A", "B", "C", "C", "A", "B"],
    "DH1": [8.5, 7.0, 6.5, 9.5, 7.5, 8.0, 6.0, 8.5],
}
df = pd.DataFrame(data)
# Tính pivot table
grouped = df.groupby("KT")["DH1"]

pivot_kt = pd.DataFrame({
    "count": grouped.count(),
    "sum": grouped.sum(),
    "mean": grouped.mean(),
    "median": grouped.median(),
    "min": grouped.min(),
    "max": grouped.max(),
    "std": grouped.std(),
    "Q1": grouped.quantile(0.25),
    "Q2": grouped.median(),
    "Q3": grouped.quantile(0.75),
})

print(pivot_kt)

    count   sum      mean  median  min  max       std     Q1    Q2     Q3
KT
A       3  21.0  7.000000    6.50  6.0  8.5  1.322876  6.250  6.50  7.500
B       3  25.0  8.333333    8.50  7.0  9.5  1.258306  7.750  8.50  9.000
C       2  15.5  7.750000    7.75  7.5  8.0  0.353553  7.625  7.75  7.875

4 Hãy tạo pivot-table để thống kê các giá trị count, sum, mean, median, min, max, std, Q1, 
Q2 và Q3 của DH1 theo KT và KV

In [12]:
import pandas as pd
# Tạo dữ liệu mẫu
data = {
    "KT": ["A", "A", "B", "B", "C", "C"],
    "KV": ["KV1", "KV2", "KV1", "KV2", "KV3", "KV3"],
    "DH1": [8.5, 7.0, 6.5, 9.5, 7.5, 8.0],
}
df = pd.DataFrame(data)
# Tạo pivot table
pivot_kt_kv = df.pivot_table(
    values="DH1",
    index=["KT", "KV"],
    aggfunc=["count", "sum", "mean", "median", "min", "max", "std", lambda x: x.quantile(0.25), lambda x: x.quantile(0.75)],
)
pivot_kt_kv.columns = ['count', 'sum', 'mean', 'median', 'min', 'max', 'std', 'Q1', 'Q3']
print(pivot_kt_kv)

        count   sum  mean  median  min  max       std     Q1     Q3
KT KV
A  KV1      1   8.5  8.50    8.50  8.5  8.5       NaN  8.500  8.500
   KV2      1   7.0  7.00    7.00  7.0  7.0       NaN  7.000  7.000
B  KV1      1   6.5  6.50    6.50  6.5  6.5       NaN  6.500  6.500
   KV2      1   9.5  9.50    9.50  9.5  9.5       NaN  9.500  9.500
C  KV3      2  15.5  7.75    7.75  7.5  8.0  0.353553  7.625  7.875

5.Hãy trình bày dữ liệu lần lượt các biến DH1, DH2, DH3 lớn hơn bằng 5.0 và thuộc khu 
vực 2NT

In [14]:
import pandas as pd

# Tạo dữ liệu mẫu
data = {
    "KT": ["A", "A", "B", "B", "C", "C"],
    "KV": ["KV1", "KV2", "KV1", "KV2", "KV3", "KV3"],
    "DT": ["DT1", "DT1", "DT2", "DT2", "DT3", "DT3"],
    "DH1": [8.5, 7.0, 6.5, 9.5, 7.5, 8.0],
}

df = pd.DataFrame(data)

# Tạo cột tính toán các phần tư
df["Q1"] = df.groupby(["KT", "KV", "DT"])["DH1"].transform(lambda x: x.quantile(0.25))
df["Q2"] = df.groupby(["KT", "KV", "DT"])["DH1"].transform("median")
df["Q3"] = df.groupby(["KT", "KV", "DT"])["DH1"].transform(lambda x: x.quantile(0.75))

# Tạo pivot-table
pivot_table = df.pivot_table(
    values=["DH1", "Q1", "Q2", "Q3"],
    index=["KT", "KV", "DT"],
    aggfunc={
        "DH1": ["count", "sum", "mean", "min", "max", "std"],
        "Q1": "mean",
        "Q2": "mean",
        "Q3": "mean",
    }
)

# Đổi tên cột cho dễ hiểu
pivot_table.columns = ['_'.join(col).strip() for col in pivot_table.columns.values]
pivot_table.reset_index(inplace=True)

print(pivot_table)

  KT   KV   DT  DH1_count  DH1_max  DH1_mean  DH1_min   DH1_std  DH1_sum  \
0  A  KV1  DT1          1      8.5      8.50      8.5       NaN      8.5
1  A  KV2  DT1          1      7.0      7.00      7.0       NaN      7.0
2  B  KV1  DT2          1      6.5      6.50      6.5       NaN      6.5
3  B  KV2  DT2          1      9.5      9.50      9.5       NaN      9.5
4  C  KV3  DT3          2      8.0      7.75      7.5  0.353553     15.5

   Q1_mean  Q2_mean  Q3_mean
0    8.500     8.50    8.500
1    7.000     7.00    7.000
2    6.500     6.50    6.500
3    9.500     9.50    9.500
4    7.625     7.75    7.875